.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #599bb3;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    text-shadow: 0px 2px 2px #0b1316;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #80b1c4 15%, #4b8a96 100%);
    border-radius: 10px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.create-event {
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: transparent;
  }
}

.event-form {
  display: flex;
  flex-direction: column;

  &__field {
    font-size: 1em;
    margin: 8px;
    padding: 5px;
    border: 1px solid #29668f;
    border-radius: 8px;
  }

  &__submit-btn {
    margin: 8px;
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-shadow: 0px 2px 2px #0b1316;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #73a3b4 5%, #4b8a96 100%);
    border-radius: 10px;
    border: 1px solid #29668f;

    cursor: pointer;
  }
}
