.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  padding: 0 16px;

  &__icon {
    margin-right: 8px;
  }
}

.navigation {
  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
  }
  &__list-btn {
    margin-left: 150px;
    padding: 0 16px;
    opacity: 0.5;
  }

  &__nav-icon {
    font-size: 18px;
    margin-left: 20px;
    font-weight: 700;
    text-shadow: 0px 2px 2px #6eaac0;
    opacity: 0.6;
  }

  &__displayed-month {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 0px 2px 2px #6eaac0;
    opacity: 0.6;
  }
}
